    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<html>
<head>
 <title>BUE</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'https://js.stripe.com/v2/' %>


    <%= csrf_meta_tags %>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script type="applijegleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <link href='//fonts.googleapis.com/css?family=Poiret+One|Lily+Script+One|Raleway:400,300,500,600,200,700' rel='stylesheet' type='text/css'>
<!--//webfonts-->
</head>
<body>
<!--start-home-->
    <div class="head" id="home">
        <div class="header-top">
          <div class="container">  
           <div class="logo">
           <img src="/assets/logo.png">
            
        <!-- </div>
            <div class="logo-right" style="float: right;">
           <img src="/assets/CELT_logo.jpg">
             
       </div> -->
          
         </div>
      </div>
        <div class="container">  
           <div class="main"> 
           <div class="wht-head"> 
           <!-- <div class="logo">
            <a href="/home" ><h1><i class="glyphicon glyphicon-education"></i>CELT-BUE</h1></a>
           </div> -->
          <!--top-nav-->
           <span class="menu"> </span>
            <div class="top-menu">
            <nav>
            <ul class="cl-effect-16">

              <li><!-- <a class="active scroll" href="/home" >Home</a> -->
               <%=link_to('Home' , root_path , class: "active scroll") %>
              </li>
              <li><a class="scroll" href="#service" data-hover="Services">Services</a></li>
              <li><a class="scroll" href="#about" data-hover="About">About</a></li>
              <li>
               <%=link_to('Courses' , courses_path , {"class" =>"scroll","data-hover" => "Courses"} ) %>
              </li>
              <li><a class="scroll" href="#gallery" data-hover="Gallery">Contact</a></li>
             <% if user_signed_in? %>
                <li><%= link_to("Welcome #{current_user.first_name} =>logout", destroy_user_session_path, :method => :delete ) %></li>
             <% else %>
               <li><<%= link_to('Login', new_user_session_path ,{"class" =>"scroll","data-hover" => "Login"}) %></li>
              <% end %>
              <div class="clearfix"></div>
            </ul>
          </nav>    
          </div>
          <!-- script-for-menu -->
           <script>
          //  $( "span.menu" ).click(function() {
          //   $( ".top-menu" ).slideToggle( "slow", function() {
          //   // Animation complete.
          //   });
          // });
          </script>
        <!-- script-for-menu -->
        <div class="clearfix"></div>
      </div>
       
     <%= yield %>
   
   
      <div class="copy">
                  <p>&copy; 2015 CELT-BUE. All Rights Reserved </p>
                </div>
          <!--footer-->
     </div>


  <!--//gallery-->

  </div>
</div>  
  <!--start-smoth-scrolling-->
      <script type="text/javascript">
                // jQuery(document).ready(function($) {
                //   $(".scroll").click(function(event){   
                //     event.preventDefault();
                //     $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                //   });
                // });
                </script>
              <!--start-smoth-scrolling-->
            <script type="text/javascript">
                  // $(document).ready(function() {
                    
                  //   var defaults = {
                  //       containerID: 'toTop', // fading element id
                  //     containerHoverID: 'toTopHover', // fading element hover id
                  //     scrollSpeed: 1200,
                  //     easingType: 'linear' 
                  //   };
                    
                    
                  //   $().UItoTop({ easingType: 'easeOutQuart' });
                    
                  // });
                </script>
    <!-- <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a> -->
</body>
</html>





